__pycache__/

# venv
.venv

# vscode
.vscode

# dist
dist/

# env
.env

# downloads
var/

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

#mynotes
notes.py

#develop db
db.sqlite3
database.sql
dump.json
whole.json

#perspective work
task_manager/utils.py
