{% extends "index.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="container wrapper flex-grow-1">
    {% bootstrap_messages %}
    <h1 class="my-4">
        Метки
    </h1>
    <a class="nav-link" href="{% url 'labels_create' %}">Создать метку</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Дата создания</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for label in object_list %}
            <tr>
                <td>{{ label.id }}</td>
                <td>{{ label.name }}</td>
                <td>{{ label.created_at|date:"F j, Y" }}</td>
                <td>
                    <a href="{% url 'labels_update' pk=label.id %}">
                        Изменить
                    </a>
                    <br/>
                    <a href="{% url 'labels_delete' pk=label.id %}">
                        Удалить
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}