{% load bootstrap4 %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru-ru">
    <head>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
        <title>
            {% trans "Task manager" %}
        </title>
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <a class="navbar-brand" href="/">
                {% trans "Task manager" %}
            </a>
            <button class="navbar-toggler" data-target="#navbarToggleExternalContent" data-toggle="collapse">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users_index' %}">
                            {% trans "Users" %}
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'statuses_index' %}">
                            {% trans "Statuses" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'labels_index' %}">
                            {% trans "Labels" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks_index' %}">
                            {% trans "Tasks" %}
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    {% if user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            {% trans "Sign in" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users_create' %}">
                            {% trans "Sign up" %}
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            {% trans "Logout" %}
                        </a>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </nav>
        <ul class="messages">
        </ul>
        {% block content %}
        <div class="container wrapper flex-grow-1">
            {% bootstrap_messages %}
            <h1 class="my-4">
            </h1>
            <h1 class="my-4">
            </h1>
            <div class="card">
                <div class="card-body p-5 bg-light">
                    <div class="display-4">
                        {% trans "Huge text!" %}
                    </div>
                    <p class="lead">
                        {% trans "a bit smaller text" %}
                    </p>
                    <hr/>
                    <a class="btn btn-primary btn-lg" href="https://github.com/sraduhin">
                        {% trans "Blue button" %}
                    </a>
                </div>
            </div>
        </div>
        {% endblock %}
        <footer>
            <div class="container my-5 pt-4 border-top">
                <a href="https://ru.hexlet.io" target="_blank">
                    Hexlet
                </a>
            </div>
        </footer>
    </body>
</html>