{% extends "index.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
    {% bootstrap_messages %}
    <h1 class="my-4">
        {% trans "Statuses" %}
    </h1>
    <a class="nav-link" href="{% url 'tasks_create' %}">Создать задачу</a>
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="form-inline center" method="get">
                {% bootstrap_form filter.form field_class="ml-2 mr-2" %}
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Показать"/>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Owner" %}</th>
                <th>{% trans "Executor" %}</th>
                <th>{% trans "Creation date" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for task in object_list %}
            <tr>
                <td>{{ task.id }}</td>
                <td><a href="{% url 'tasks_show' pk=task.id %}">{{ task.name }}</a></td>
                <td>{{ task.status }}</td>
                <td>{{ task.owner }}</td>
                <td>{{ task.executor }}</td>
                <td>{{ task.created_at|date:"F j, Y" }}</td>
                <td><a href="{% url 'tasks_update' pk=task.id %}">{% trans "Update" %}</a>
                <br/><a href="{% url 'tasks_delete' pk=task.id %}">{% trans "Delete" %}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}